.button{
-fx-background-color : #EBE8F9;
-fx-border-radius: 25;
}

.button:hover{
-fx-background-color : #BDBBC3;
}
.button:pressed{
-fx-background-color : #EBE8F9;
}
.container{
-fx-background-color: rgba(236, 240, 241);
-fx-background-radius:10;

}
.shadow{
-fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.2), 10.0, 0.0, 0.0, 10.0);
}